In [1]:
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [7]:
# 載入加州房價資料集
housing = fetch_california_housing()
print(housing['data'].shape)
print(housing['data'].ndim)
# housing['target']

(20640, 8)
2

In [20]:
import pandas as pd

# 轉成 DataFrame，使用 feature_names 作為欄位，並加入 target（MedHouseVal）
df = pd.DataFrame(housing['data'], columns=housing['feature_names'])
df[housing['target_names'][0]] = housing['target']
df.head()

pd.DataFrame(housing['data'][:200])
pd.Series(housing['target'][:200])

0      4.526
1      3.585
2      3.521
3      3.413
4      3.422
       ...
195    1.150
196    0.950
197    0.964
198    0.720
199    0.713
Length: 200, dtype: float64

In [21]:
display(pd.DataFrame(housing['data'][:200], columns=housing['feature_names']))

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
195,1.6929,20.0,3.510355,1.152367,1659.0,2.454142,37.80,-122.26
196,1.6471,52.0,2.833333,0.927536,520.0,3.768116,37.77,-122.22
197,2.5900,52.0,4.389961,1.162162,866.0,3.343629,37.77,-122.22
198,2.5700,52.0,4.202186,1.125683,612.0,3.344262,37.77,-122.23
199,2.6429,52.0,3.746032,1.158730,415.0,3.293651,37.78,-122.23

In [ ]:
# 只使用前200筆資料作為展示
sample_size = 500
X_full = housing.data[:sample_size] # 特徵通常用大寫X
y_full = housing.target[:sample_size] # 房價(單位:十萬鎂)
X_full.shape
y_full.shape

(500,)

In [29]:
# 使用**平均房間數**作為預測特徵(索引=2)
feature_index = 2
X = X_full[:,feature_index].reshape(-1, 1)
y = y_full * 10
y

array([45.26  , 35.85  , 35.21  , 34.13  , 34.22  , 26.97  , 29.92  ,
       24.14  , 22.67  , 26.11  , 28.15  , 24.18  , 21.35  , 19.13  ,
       15.92  , 14.    , 15.25  , 15.55  , 15.87  , 16.29  , 14.75  ,
       15.98  , 11.39  ,  9.97  , 13.26  , 10.75  ,  9.38  , 10.55  ,
       10.89  , 13.2   , 12.23  , 11.52  , 11.04  , 10.49  , 10.97  ,
        9.72  , 10.45  , 10.39  , 19.14  , 17.6   , 15.54  , 15.    ,
       11.88  , 18.88  , 18.44  , 18.23  , 14.25  , 13.75  , 18.75  ,
       11.25  , 17.19  ,  9.38  ,  9.75  , 10.42  ,  8.75  ,  8.31  ,
        8.75  ,  8.53  ,  8.03  ,  6.    ,  7.57  ,  7.5   ,  8.61  ,
        7.61  ,  7.35  ,  7.84  ,  8.44  ,  8.13  ,  8.5   , 12.92  ,
        8.25  ,  9.52  ,  7.5   ,  6.75  , 13.75  , 17.75  , 10.21  ,
       10.83  , 11.25  , 13.13  , 16.25  , 11.25  , 11.25  , 13.75  ,
       11.88  ,  9.82  , 11.88  , 16.25  , 13.75  , 50.0001, 16.25  ,
       13.75  , 16.25  , 18.75  , 17.92  , 13.    , 18.38  , 12.5   ,
       17.    , 19.31  , 25.78  , 27.34  , 23.75  , 35.    , 33.57  ,
       31.34  , 26.85  , 25.94  , 27.57  , 22.5   , 26.25  , 21.85  ,
       25.5   , 22.41  , 24.31  , 23.16  , 21.85  , 23.41  , 32.76  ,
       34.76  , 36.61  , 33.5   , 37.36  , 38.95  , 39.11  , 33.73  ,
       29.52  , 29.23  , 41.15  , 31.15  , 32.59  , 39.26  , 31.93  ,
       33.33  , 33.52  , 35.12  , 36.89  , 36.59  , 36.67  , 36.28  ,
       48.33  , 33.14  , 32.35  , 21.67  , 23.31  , 29.64  , 27.37  ,
       22.77  , 19.96  , 23.98  , 27.01  , 30.21  , 26.95  , 31.47  ,
       39.01  , 41.03  , 35.24  , 28.73  , 34.87  , 24.38  , 21.15  ,
       21.84  , 26.99  , 21.88  , 22.5   , 25.    , 17.14  , 19.38  ,
       12.5   ,  9.75  , 12.5   , 13.88  , 11.67  , 15.18  , 12.7   ,
       12.86  , 14.06  , 18.27  , 14.69  , 12.28  , 16.93  , 12.66  ,
       12.79  , 12.35  , 11.19  , 11.28  , 10.79  , 13.75  , 10.55  ,
        9.55  , 11.61  , 11.22  ,  7.5   , 11.25  , 12.5   , 11.5   ,
        9.5   ,  9.64  ,  7.2   ,  7.13  ,  8.08  , 12.88  , 11.25  ,
       11.94  , 11.81  , 12.25  , 10.63  , 13.25  , 12.27  , 11.33  ,
       10.95  , 16.47  , 12.5   , 12.47  , 13.67  , 14.17  , 15.    ,
       13.88  , 13.92  , 14.38  , 15.65  , 15.1   , 27.3   , 21.71  ,
       18.71  , 23.96  , 22.97  , 25.73  , 24.69  , 17.99  , 16.96  ,
       20.33  , 26.34  , 23.18  , 14.05  , 12.6   , 12.2   , 13.47  ,
       13.94  , 11.54  , 13.73  , 13.7   , 14.26  , 13.75  , 11.17  ,
       12.68  , 11.13  , 11.48  , 10.23  , 13.19  , 11.91  ,  8.06  ,
        8.06  ,  8.88  , 10.24  ,  9.87  , 10.    ,  9.23  ,  9.48  ,
       10.2   , 15.84  , 12.16  , 12.91  , 12.14  , 10.28  , 16.    ,
       14.39  , 15.12  , 16.44  , 15.65  , 22.5   , 17.42  , 16.69  ,
       16.35  , 25.3   , 24.07  , 20.81  , 19.81  , 17.28  , 33.67  ,
       31.82  , 28.58  , 29.3   , 37.1   , 15.73  , 13.53  , 13.67  ,
       16.07  , 14.06  , 14.4   , 16.19  , 15.63  , 17.6   , 14.58  ,
       14.19  ,  9.07  ,  9.06  , 10.79  , 10.7   ,  9.82  ,  8.95  ,
        9.38  ,  9.67  ,  9.75  ,  9.73  ,  9.12  ,  9.14  ,  9.62  ,
       12.01  , 10.    ,  9.47  ,  8.57  ,  8.93  , 10.14  ,  7.25  ,
        7.41  ,  7.    ,  8.46  ,  8.18  ,  8.14  ,  8.18  ,  8.58  ,
        8.71  ,  8.35  ,  7.97  ,  8.34  ,  8.47  ,  8.    ,  7.64  ,
        7.97  ,  8.24  ,  9.77  ,  9.72  , 10.16  ,  8.65  ,  9.05  ,
       10.76  ,  8.42  ,  8.89  ,  8.07  ,  8.71  ,  8.51  ,  8.2   ,
        8.28  ,  8.46  ,  8.21  ,  8.93  ,  9.83  ,  9.23  ,  8.88  ,
        9.    ,  9.55  ,  9.17  , 10.04  ,  9.48  , 16.43  , 15.55  ,
       19.69  , 27.91  , 25.28  , 27.54  , 25.    , 32.98  , 19.55  ,
       25.59  , 31.11  , 33.    , 24.89  , 14.29  , 12.63  , 13.58  ,
       13.06  , 10.79  , 11.11  , 12.2   , 11.8   ,  9.52  ,  9.43  ,
        9.25  ,  9.18  , 10.94  , 12.95  , 14.34  ,  9.82  , 10.31  ,
       27.68  , 27.09  , 24.62  , 22.42  , 22.91  , 21.16  , 25.61  ,
       20.63  , 22.13  , 20.74  , 35.    , 21.82  , 21.67  , 27.06  ,
       26.14  , 26.13  , 23.22  , 37.54  , 35.73  , 37.44  , 35.88  ,
       41.75  , 43.05  , 36.29  , 39.7   , 34.68  , 32.71  , 29.01  ,
       29.2   , 27.09  , 37.11  , 33.56  , 37.13  , 34.4   , 34.22  ,
       37.09  , 35.    , 36.86  , 39.18  , 41.53  , 28.49  , 28.75  ,
       27.29  , 25.96  , 25.45  , 23.56  , 21.84  , 22.92  , 19.21  ,
       17.93  , 18.75  , 13.88  , 15.    , 14.06  , 12.    , 14.48  ,
       14.48  , 24.55  , 20.    , 17.37  , 18.56  , 18.26  , 22.79  ,
       22.07  , 21.2   , 27.14  , 26.88  , 27.78  , 33.25  , 33.89  ,
       28.75  , 38.46  , 37.14  , 35.    , 50.0001, 17.5   , 24.17  ,
       21.67  , 21.13  , 21.02  , 19.64  , 19.17  , 18.23  , 17.5   ,
       16.59  , 15.69  , 16.43  , 15.    , 15.05  , 16.99  , 14.74  ,
       15.27  , 18.27  , 17.93  , 15.77  , 15.31  , 25.    , 20.63  ,
       21.88  , 19.82  , 25.36  , 25.74  , 28.95  , 24.17  , 48.96  ,
       44.62  , 45.63  , 33.68  , 50.0001, 50.0001, 37.69  , 30.96  ,
       18.23  , 17.27  , 15.08  ])